.profilePage {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
}

.current {
  display: flex;
  flex-direction: column;
}

.update {
  display: flex;
  flex-direction: column;
}
